.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form input {
  font-size: 18px;
  padding: 6px;
  margin: 9px 0;
}

.container form button {
  font-size: 15px;
  width: 100%;
  padding: 6px 0;
  margin: 9px 0;
  border: 0;
  font-weight: 400;
  background-color: rgb(94, 65, 198);
  color: rgba(255, 255, 255, 0.925);
}
